/* Add CSS Styling */
.odd-numbers, .third-element {
    background-color: #B2945B;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
    color: #008DD5;
    font-size: 36px;
}

.third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: #00FF00;
    font-size: 24px;
    font-weight: bold;
}