body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  padding-left: 15px;
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.container-card {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 15px;
  flex: 0 0 500px;
}

ul {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  list-style-type: none;
  text-decoration: none;
  font-size: large;
  color: #eee;
}