/* Add CSS Styling */
.black-button {
    background-color: black;
    color: white;
}

.yellow-button {
    background-color: yellow;
}

.adjust-font-size {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}